/* static/style.css */

#container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('{{ url_for('static', filename='sky.jpg') }}');
    background-size: cover;
    background-position: center;
}

#map {
    height: 580px;
    width: 100%;
}

.satellite-label {
    /* border: 1px solid black; */
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    /* 縦方向にアイテムを配置 */
    align-items: center;
    /* 中央揃え */
}

.satellite-icon {
    background-color: rgba(255, 255, 255, 0.7);
    /* 薄い白い背景 */
    padding: 2px;
    border-radius: 3px;
    display: inline-block;
}

.satellite-icon::before {
    content: '🛰️';
    /* アイコンを🛰️に変更 */
    /* font-size: 40px; */
    /* アイコンのサイズを設定 */
}

.satellite-icon-inside {
    /* background-color: yellow !important; */
}

#playButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

#satelliteCanvas {
    height: 350px;
    width: 100%;
    border: 1px solid black;
}


/* メディアクエリを追加してレスポンシブ対応 */
@media (max-width: 768px) {
    #map {
        height: 500px;
    }

    #satelliteCanvas {
        height: 250px;
    }

    #playButton {
        bottom: 5px;
        left: 5px;
        padding: 5px;
        font-size: 12px;
    }

    .satellite-label {
        font-size: 10px;
    }

    .satellite-icon {
        padding: 1px;
    }

    h1 {
        font-size: 1.5em; /* フォントサイズを小さく */
        text-align: center; /* 中央揃え */
    }
}

.circle-icon {
    border-radius: 50%;
    overflow: hidden;
    width: 42px;
    height: 50px;
}